doctype html
html
    head   
        title #{pageTitle} | #{siteName}
        <script src="https://kit.fontawesome.com/dd9bafccd2.js" crossorigin="anonymous"></script>
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
        main   
            block content
        include ../partials/footer
        script(src="/static/main.js")