doctype html
html
    head   
        title Wetube
        <script src="https://kit.fontawesome.com/dd9bafccd2.js" crossorigin="anonymous"></script>
    body
        include ../partials/header
        h1 Home
        main   
            block content
        include ../partials/footer