extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        h3 Searching for #{searchingBy}
    .search__videos
        if videos.length === 0
            h5="video is not found"
        each item in videos 
            +videoBlock({
                title: item.title,
                videoFile: item.videoFile,
                views: item.views,
                id: item.id
            })